<div class="row" xmlns="http://www.w3.org/1999/html">
    <div class="col-xs-3">
        <div class="sidebar-content">
            <div class="row">
                <div class="col-xs-10">
                    <h2>{{bio.name}}</h2>
                </div>
                <div class="col-xs-2 hidden-print align">
                    <div class="btn-toolbar" role="toolbar">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog"></i> <span
                                    class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a id="language-english" href="#">English</a></li>
                                <li><a id="language-french" href="#">Français</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <h4>{{section.headline}}</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    {{{profile}}}
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    &nbsp;
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <strong>{{section.contact}}</strong>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-1">
                    <i class="fa fa-mobile-phone fa-fw"></i>
                </div>
                <div class="col-xs-10">
                    <span class="obfuscated encrypted" data-trim="22">{{contact.phone}}</span>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-1">
                    <i class="fa fa-envelope fa-fw"></i>
                </div>
                <div class="col-xs-10">
                    <span class="obfuscated encrypted" data-trim="22">{{contact.email}}</span>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-1">
                    <i class="fa fa-map-marker fa-fw"></i>
                </div>
                <div class="col-xs-10">
                    <span class="obfuscated encrypted" data-trim="22">{{{contact.location}}}</span>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    &nbsp;
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <strong>{{section.misc}}</strong>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-1">
                    <i class="fa fa-flag-o fa-fw"></i>
                </div>
                <div class="col-xs-10">
                    {{bio.nationalty}}
                </div>
            </div>

            <div class="row">
                <div class="col-xs-1">
                    <i class="fa fa-gift fa-fw"></i>
                </div>
                <div class="col-xs-10">
                    <span class="obfuscated encrypted" data-trim="15">{{bio.birthdate}}</span>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-1">
                    <i class="fa fa-female fa-fw"></i>
                </div>
                <div class="col-xs-10">
                    {{bio.marital}}
                </div>
            </div>

            <div class="row">
                <div class="col-xs-1">
                    <i class="fa fa-car fa-fw"></i>
                </div>
                <div class="col-xs-10">
                    {{bio.car}}
                </div>
            </div>

            <div class="row">
                <div class="col-xs-1">
                    <i class="fa fa-linkedin fa-fw"></i>
                </div>
                <div class="col-xs-10">
                    <a href='http://goo.gl/wYuAXk'>axel.bodart</a>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-1">
                    <i class="fa fa-github fa-fw"></i>
                </div>
                <div class="col-xs-10">
                    <a href='http://github.com/akeru'>akeru</a>
                </div>
            </div>

        </div>
    </div>
    <div class="col-xs-9">
        <div class="mainbar">
            <div class="section">
                <div class="section-job"><h3><i class="fa fa-briefcase hidden-print"></i>{{section.job}}</h3></div>
                {{#jobs}}
                    <div class="row">
                        <div class="col-xs-3">
                            <b>{{startdate.month}} {{startdate.year}} &mdash; {{enddate.month}} {{enddate.year}}</b>
                        </div>
                        <div class="col-xs-9">
                            <b>{{title}}</b> &mdash; <a href="{{company.url}}">{{company.name}}</a>
                        </div>
                    </div>
                    {{#projects}}
                        <div class="row">
                            <div class="col-xs-3">
                                <u>{{name}}</u>
                            </div>
                            <div class="col-xs-9">
                                {{description}}
                            </div>
                        </div>
                    {{/projects}}
                    {{#unless @last}}
                        <div class="row">
                            <div class="col-xs-12">
                                &nbsp;
                            </div>
                        </div>
                    {{/unless}}
                {{/jobs}}
            </div>
            <div class="section">
                <div class="section-skill"><h3><i class="fa fa-dashboard hidden-print"></i>{{section.skill}}</h3></div>
                <div class="row">
                    {{#skills}}
                        <div class="col-xs-4">
                            <b>{{name}}</b><br/>
                            {{#entries}}
                                {{name}}<br/>
                            {{/entries}}
                        </div>
                    {{/skills}}
                </div>
            </div>
            <div class="section">
                <div class="section-education"><h3><i class="fa fa-book hidden-print"></i>{{section.education}}</h3>
                </div>
                {{#educations}}
                    <div class="row">
                        <div class="col-xs-4">{{name}}</div>
                        <div class="col-xs-4"><b>{{description}}</b></div>
                        <div class="col-xs-4">{{startdate.year}} &mdash; {{enddate.year}}</div>
                    </div>
                {{/educations}}
            </div>
            <div class="section">
                <div class="section-language"><h3><i class="fa fa-flag hidden-print"></i>{{section.language}}</h3></div>
                {{#languages}}
                    <div class="row">
                        <div class="col-xs-4">{{name}}</div>
                        <div class="col-xs-8">{{description}}</div>
                    </div>
                {{/languages}}
            </div>
            <div class="section">
                <div class="section-development"><h3>
                    <i class="fa fa-github-alt hidden-print"></i>{{section.development}}</h3></div>
                {{#development.entries}}
                    <div class="row">
                        <div class="col-xs-4"><a href="{{url}}">{{name}}</a></div>
                        <div class="col-xs-8">{{description}}</div>
                    </div>
                {{/development.entries}}
            </div>
            <div class="section">
                <div class="section-interest"><h3><i class="fa fa-beer hidden-print"></i>{{section.interest}}</h3></div>
                {{#interests}}
                    <div class="row">
                        <div class="col-xs-4">{{name}}</div>
                        <div class="col-xs-8">{{description}}</div>
                    </div>
                {{/interests}}
            </div>
        </div>
    </div>
</div>